<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Recommendations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            width: 80%;
            height: 100%;
            display: flex; /* Mengaktifkan flexbox */
            flex-direction: column; /* Menetapkan arah kolom */
            justify-content: center; /* Mengatur konten ke tengah secara vertikal */
            align-items: center; /* Mengatur konten ke tengah secara horizontal */
        }
        .card-img-top {
            width: 200px; 
            height: 200px; 
            object-fit: cover; 
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Skincare Recommendations</h2>
    <div class="row">
        {% for recommendation in recommendations %}
        <div class="col-md-4 mb-4"> <!-- Tambahkan class mb-4 di sini -->
            <div class="card shadow-sm">
                <img src="{{ recommendation[3] }}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ recommendation[1] }}</h5>
                    <p class="card-text">Brand: {{ recommendation[2] }}</p>
                    <p class="card-text">Price: {{ recommendation[4] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>